spring:
  application:
    name: score-admin
  messages:
    basename: i18n/messages
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:127.0.0.1}:${MYSQL_PORT:3306}/${MYSQL_DB:score_admin}?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:742571}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

management:
  tracing:
    enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

security:
  jwt:
    # 32+ 字节的 Base64 密钥，可自行更换
    secret: c2NvcmUtYWRtaW4tc2VjcmV0LWtleS0zMmNoYXJzLXNlY3VyZQ==
    expiration: 3600000
logging:
  level:
    root: INFO
    com.score.admin: DEBUG  # 业务代码详细日志
    org.springframework.security: DEBUG  # 安全框架日志
    org.springframework.data.jpa: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"