spring:
  application:
    name: score-admin
  messages:
    basename: i18n/messages
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

security:
  jwt:
    # 32+ 字节的 Base64 密钥，可自行更换
    secret: c2NvcmUtYWRtaW4tc2VjcmV0LWtleS0zMmNoYXJzLXNlY3VyZQ==
    expiration: 3600000
